<%- include('partials/head'); -%>

<div class="full-container" id="container-login">
	<div class="container container-front">
		<h1 class="square-title text-center">Log in</h1>

		<form class="col-md-6 offset-md-3 text-center" id="login-form" method="POST" data-sublogin="true" action="/api/auth/login">
			<div class="row">
				<label class="control-label">Email</label>
				<input placeholder="Email" type="email" id="login-email" name="email" value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>" required />

				<label class="control-label">Password <i class="fa fa-eye ml-2" data-type="showpw" data-showpw="login-pw" aria-hidden="true"></i></label>
				<input placeholder="Password" type="password" id="login-pw" name="password" required />

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Log in" id="submit-login" />
			</div>
		</form>
	</div>
</div>

<div class="full-container" id="container-lostpw">
	<div class="container container-front">
		<h1 class="square-title text-center">Password Recovery</h1>

		<form class="col-md-6 offset-md-3 text-center" id="lostpw" data-lostpw="true" method="POST" action="/api/auth/lostpw">
			<div class="row">
				<div class="alert alert-warning alert-static w-100" role="alert">We'll send you a mail with instructions to reset your password</div>
				<label class="control-label">Email</label>
				<input placeholder="youremail@gmail.com" type="email" id="email-reset" name="email" value="" data-vemail="true" required />
				<span id="i_email-reset" class="form-info"><b>E-mail</b> has to be <b>valid</b></span>
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Send" id="submit-lostpw" />
			</div>
		</form>
	</div>
</div>

<script src="/scripts/core/pwVisibility.js" defer></script>
<script src="/scripts/submitAuth.js" defer></script>
<script src="/scripts/core/validation.js" defer></script>

<%- include('partials/footer'); -%>
