<%- include('../partials/head'); -%>

<div class="container">
	<h1 class="text-center">Modifier une vidéo</h1>

	<form class="col-md-6 offset-md-3 text-center" id="videopatch" method="POST" data-videoid="<%= locals.video._id %>" action="/api/videos/<%= locals.video._id %>">
		<div class="row">
			<label class="control-label">Lien youtube</label>
			<input placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="url" id="url" name="url" data-vUrl="true" value="<%= locals.video.url %>" required />
			<span id="i_url" class="form-info">Le lien <b>youtube</b> n'est pas au bon <b>format</b></span>

			<label class="control-label">Titre</label>
			<input placeholder="Notre super réal" type="text" id="title" name="title" data-vstring="1;256" value="<%= locals.video.title %>" required />
			<span id="i_title" class="form-info">Le <b>titre</b> doit faire entre <b>1 et 256 caractères</b></span>

			<label class="control-label">Description</label>
			<textarea placeholder="La description de notre super réal" id="description" name="description" data-vstring="1;2048" rows="5" required><%= locals.video.description %></textarea>
			<span id="i_description" class="form-info">La <b>description</b> doit faire entre <b>1 et 2048 caractères</b></span>

			<label class="control-label">Auteurs (séparés par un ';')</label>
			<input placeholder="Jean Dupont; Mr propre" type="text" id="authors" name="authors" value="<%= locals.video.authors %>" />

			<input type="checkbox" name="isFiction" id="isFiction" <% if (locals.video.isFiction == true) { %>checked<% } %> />

			<img src="<%= locals.image.path %>" />
			<div class="form-group text-center">
				<label for="img" id="imglabel" class="filebtn">Choisir des images</label>
				<input class="inputfile" type="file" name="img" id="img" />
			</div>

			<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
			<input type="submit" class="submit-btn" value="Modifier la vidéo" id="submit-videopatch" />
		</div>
	</form>

	<form class="mt-3" method="POST" action="/api/videos/delete/<%= locals.video._id %>">
		<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
		<input type="submit" class="delbtn" value="SUPPRIMER DEFINITIVEMENT" id="delete-video" />
	</form>
</div>

<script src="/scripts/core/validation.js" defer></script>
<script src="/scripts/submitVideo.js" defer></script>

<%- include('../partials/footer'); -%>
